---
layout: page
title: Our Team
permalink: /about/our-team/
---

<!-- <p>Hello this is our team description of the maintainers...</p> -->

<h2 class="text-center">Maintainers</h2>

<div class="row flex-center">

  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/zali/" target="_blank">Zoraze Ali</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Abhijith Anilkumar</h4>
    <p>
      (app store)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Stefano Avallone</h4>
    <p>
      (traffic control)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="https://people.llnl.gov/barnes26" target="_blank">Peter Barnes</a></h4>
    <p>
      (core, documentation)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/Bbojovic/" target="_blank">Biljana Bojović</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Gustavo Carneiro</h4>
    <p>
      (Waf, Python bindings)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Matthieu Coudron</h4>
    <p>
      (DCE)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Ankit Deepak</h4>
    <p>
      (Python)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Sebastien Deronne</h4>
    <p>
      (Wi-Fi)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="https://www.ece.uw.edu/people/thomas-r-henderson/" target="_blank">Tom Henderson</a></h4>
    <p>
      (lead maintainer)<br />
      <a href="https://bitbucket.org/tomhend/" target="_blank"><i class="fab fa-bitbucket"></i></a> &nbsp; <a href="https://github.com/tomhenderson" target="_blank"><i class="fab fa-github"></i></a> &nbsp; <a href="https://gitlab.com/tomhenderson" target="_blank"><i class="fab fa-gitlab"></i></a>
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Konstantinos Katsaros</h4>
    <p>
      (ns-3-users)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Alexander Krotov</h4>
    <p>
      (LTE)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/mmiozzo/" target="_blank">Marco Miozzo</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Tommaso Pecorella</h4>
    <p>
      (Internet, LR-WPAN)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4><a href="http://www.cttc.es/people/mrequena/" target="_blank">Manuel Requena</a></h4>
    <p>
      (LTE)
    </p>
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Hajime Tazaki</h4>
    <p>
      (DCE)<br />
      <!-- <a href="#">Website &raquo;</a> -->
    </p>
  </div>

</div>



<hr style="margin: 50px 0;">



<h2 class="text-center">Alumni</h2>

<div class="row flex-center">
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>John Abraham</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Nicola Baldo</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Craig Dowell</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Tom Goff</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Mathieu Lacage</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>Vedran Miletic</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
  <div class="medium-4 small-6 columns text-center person-tile">
    <img src="{{ "/assets/img/Portrait_Placeholder.png" | relative_url }}" alt="">
    <h4>George Riley</h4>
    <!-- <p>
      Short bio text<br />
      <a href="#">Website &raquo;</a>
    </p> -->
  </div>
</div>
