---
layout: default
---
<article class="post">

  <header class="post-header">

  </header>

  <div class="row">

    <div class="columns medium-3">
      {%- include navigation.html map=site.data.nav -%}
    </div>

    <div class="columns medium-9">

      {%- include header_breadcrumb.html -%}

      <h1 class="post-title">{{ page.title | escape }}</h1>
      <div class="post-content">
        {{ content }}
      </div>

    </div>

  </div>

</article>
